.navbar
{
	list-style-type:none;
	display:flex;
	overflow:hidden;
	float:right;
	
}
a
{
padding:40px;
text-decoration:none;
font-size:30px;
border:1px,solid,white;
color:white;
}
body
{
	background-color:black;
}
.Active
{
	background-color:blue;
}
li a:hover
{
	background-color:blue;
}
h1
{
	text-align:center;
	color:white;
}
h3
{
	margin:5px;
}
.skill
{
	width:500px;
	margin:60px auto;
    color:white;
	padding:40px;
	position:absolute;
	top:70px;
	left:400px;
	box-shadow: 0 14px 28px rgb(237, 245, 3),  0	10px 10px rgb(237, 245, 3);
}
.skill li
{
 margin:20px 0;
 padding: 10px;
}
.bar
{
	background: #353b48;
    display:block;
	height: 20px;
	border:1px solid rgba(0, 0,0,0.3);
	border-radius: 10px;
	overflow:hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0	1px 2px rgb(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
} 
.bar:hover{
	box-shadow:0 14px 28px rgba(0, 0, 0, 0.25),0	10px 10px rgb(0, 0, 0, 0.22) ;
}
.bar span{
	height: 20px;
	float:  left;
	background: linear-gradient(135deg,rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
} 
.html
{
	width:90%;
	animation: html 3s;
}
.css
{
width:60%;
animation: css 3s;
}
.javascript
{
	width:40%;
	animation: javascript 3s;
}
@keyframes html
{
	0%{
		width:0%
	}
	100%{
		width:90%;
	}
}
@keyframes css
{
	0%{
		width:0%
	}
	100%{
		width:60%;
	}
}
@keyframes javascript
{
	0%{
		width:0%
	}
	100%{
		width:40%;
	}
}